@import url(./effect.css);
.navbar {
    display: grid;
    grid-template-columns: 730px 100px 80px;
    list-style: none;
    position: fixed;
    margin: 0%;
    width: 968px;
    height: 55px;
    z-index: 4;
    background-color: black;

}

.body {
    width: 1000px;
    float: right;
    overflow: hidden;
}
.left{
    float: left;
    background-color: black;
    color: aliceblue;
    width: 341px;
   height: 700px;
    position: fixed;
    left: 0px;
    top: 8px;
}

.login {
    font-family: monospace;
    font-weight: 600;
    color: rgb(1, 8, 14);
    background-color: rgb(245, 242, 242);
    border-radius: 20px;
    border: 30px black;
    width: 120px;
    height: 30px;
    margin-top: 12px;
}

.a {
    font-size: larger;
    color: aliceblue;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    border: 10px black;
    width: 70px;
    margin-top: 12px;
}

.sign{
    font-size: larger;
    font-weight: 600;
    color: #fffff796;
    margin-top: 12px;
}
.nd{
background-color: rgb(30, 30, 30);
position: absolute;
top: 60px;
width: 1008px;
z-index: -3;


}
tr > td >p {
    color: aliceblue;
    font-weight: bolder;
    font-size: x-large;
    margin-left: 20px;
}
.show{
    color: rgba(240, 255, 255, 0.658);
    font-size: smaller;
}
td span{
    color: aliceblue;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 18px;
}
span > span{
    font-size: small;
}
 .ta {
    padding-left: 3px;
}
td > div {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.black{
    width: 307px;
margin-left: 10px;
margin-top: 15px;
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
}
.black2{
    width: 307px;
    height: 370px;
margin-left: 10px;
margin-top: 15px;
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
}
.small
{ display: flex;
    font-size: smaller;
    color: rgba(255, 255, 255, 0.425);
    align-items: center;
}
div >  button {
    margin-left: 80px;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
   color: white;
    outline-color: antiquewhite;
    width: 89px;
    height: 30px;
}